.mentor-title-text {
  color: var(--text-primary);
  font-size: 28px;
  text-align: left;
  margin-left: 20px;
}

.dashboard-cards {
  width: 100%;
  min-height: 142px;
  /* margin-top: 25px; */
  border-radius: 16px;
  background: var(--card-bg);
  overflow: hidden;
}

.mentor-fonStyle {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.mentor-card-margin-align {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.head-box-content {
  display: flex !important;
  align-items: center !important;
  gap: 20px !important;
}

.mentor-custom-col {
  padding: 10px 20px;
  gap: 24px;
}

.mentor-img-align {
  width: 80px;
  height: 80px;
}

.mentor-custom-style {
  font-family: Lato;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.mentor-text-primary {
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  color: #0d5795;
}

.mentor-text-secondary {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #303030;
}

.mentor-status-text {
  margin: 0px;
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.14px;
  position: inherit;
}

.mentor-detail-text {
  position: absolute;
  bottom: -7px;
  right: 30px;
}

.mentor-detail-text h5 {
  color: #086fab;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.mentor-create-btn {
  background-color: var(--btn-primary);
  width: 99px !important;
  height: 48px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}

.customize-form-input {
  height: 45px;
  border-radius: 8px;
  width: 100%;
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {
  .mentor-img-align {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .mentor-img-align {
    width: 60px;
    height: 60px;
  }

  .mentor-detail-text {
    position: inherit;
    bottom: -7px;
  }
}
